////
/// @group Flexbox
/// @since 1.0.0
////


/// flex-grow CSS property specifies the flex grow factor of a flex item. It specifies what amount of space inside the flex container the item should take up.
/// #### Syntax :
/// ```markup
///   flex-grow(<integer>);
/// ```
/// @param {number} $value [0] - how much the item will grow relative to the rest of the flexible items inside the same container. 
/// @example scss - scss
///  .foo{
///        @include flex-grow(2);
///      }
/// @example css - CSS
///  .foo {
///      -webkit-box-flex: 2;
///      -webkit-flex-grow: 2;
///      -ms-flex-positive: 2;
///      flex-grow: 2;
///  }
@mixin flex-grow($int: 0) {
	-webkit-box-flex: $int;
	-webkit-flex-grow: $int;
	-ms-flex-positive: $int;
	flex-grow: $int;
}